doctype html
html(lang='en')
  head
    title getswades
      body(background='11.jpg')
    marquee welcome to the get swadesh.com
    form(action='/users/payment', method='post')
      | BILL_ID:
      input(type='number', name='n11')
      br
      input(type='submit', value='pay')
